.container{
  /* border: 10px solid black; */
  height: 200px;
  width: 550px;
  background-color: #D4D3D3;
  border-radius: 50px;
  border: 10px solid black;
  display: flex;
 
}
.box{
  height: 90px;
  margin-left: 40px;
  margin-top: 40px;
width: 90px;
padding: 10px;
font-style: 30px;
border-radius: 100px;
display: inline-block;
}
